# LPCXPresso & Eclipse files
/**/.metadata
/**/.settings
/**/RemoteSystemsTempFiles
/**/Debug
/**/Release
*.launch
.settings

# Docbook
*.fo

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Libraries
#*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Backup files
*.bak
*.swp
*~
*.kate-swp

# kicad backup files
*.kicad_pcb-bak
_saved_*

octave-workspace
octave/*.csv
octave/*.log
